body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-image: url("./images/resturant-background.jpeg");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

div#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 10rem;
    gap: 10px;
}

.button-tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button-tabs > button {
    background-color: transparent;
    color: white;
    border: 0 none;
    font-size: 24px;
}

#restraurant-heading {
    margin: 0;
    font-size: 48px;
}

#home-content, 
#contact-div{
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#home-content > p {
    text-align: center;
    width: 500px;
}

button.selected {
    border-bottom: 2px white solid;
}

button:hover,
.food-item:hover {
    transform: scale(1.2);
}

#menu-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 100px;
}

.food-item {
    width: 250px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
}
